{% extends 'course/base.html' %}
{% block content %}
    {% for course in courses %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ course.name }}</a>
              <small class="text-muted"> {{ course.language }}</small>
            </div>

            <h2><a class="article-title" href="#">{{ course.name }}</a></h2>
            <p class="article-content"> {{ course.description }}</p>
            <div>
              <small class="text-muted">date: {{ course.start_date|date:"M d Y" }} - {{ course.end_date|date:"M d Y" }}</small>
            </div>



            <div>
              <small class="text-muted">{{ course.publishing_status }}</small>
            </div>
          </div>
        </article>

        <!-- <h3> {{ course.name }} </h3>
        <p> Instructor: {{ course.instructor }} </p>
        <p> start: {{ course.start_date }} - end: {{ course.end_date }} </p>
        <p> Language: {{ course.language }} </p>
        <p> {{ course.description }} </p>
        <p> Status: {{ publishing_status }} </p> -->
    {% endfor %}
{% endblock content %}
