{% extends 'course/base.html' %}
{% block content %}
    {% for course in courses %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ course.name }}</a>
              <small class="text-muted"> {{ course.language }}</small>
            </div>

            <h2><a class="article-title" href="#">{{ course.name }}</a></h2>
            <p class="article-content"> {{ course.description }}</p>
            <div>
              <small class="text-muted">date: {{ course.start_date|date:"M d Y" }} - {{ course.end_date|date:"M d Y" }}</small>
            </div>
            <div>
              {% if course.publishing_status %}
                <small class="text-muted">Course published</small>
              {% else %}
                <small class="text-muted">Course not yet published</small>
              {% endif %}
            </div>
          </div>
        </article>

    {% endfor %}
{% endblock content %}
